<div class='container p-5 bg-white rounded mt-5'>
    <h1 class='mx-auto mb-4 text-center'>Browse Companies</h1>
    <form class='md-form form-sm row' (ngSubmit)='onSubmit()'>
        <input class='form-control form-control-sm ml d-inline col' type='text'  placeholder='Search' aria-label='Search' [(ngModel)]='keyword' mdbInput required>
        <button class='col-sm-auto mx-5  btn btn-primary' type='Submit'>Search</button>
    </form>
    <ul class='p-0'>
        <li *ngFor='let company of companies'>
            <company-profile [company]='company'></company-profile>
        </li>
    </ul>
    <p *ngIf='companies.length == 0'>There are currently no companies available...</p>
</div>
