#container{
    border: 2px solid black;
    border-radius: .5rem;
    padding: 0 2rem 1rem 2rem;
    max-width: 20rem;
    text-align: center;
    display:block;
    font-family: sans-serif;
}

#inputField{
    margin: .35rem auto;
    width: 100%;
    
}

#inputField input{
    width: 97.5%;
    line-height: 24pt;
    border-radius: .25rem;
}

button{
    margin: 1rem 0 ;
    width: 100%;
    border: none;
    line-height: 16pt;
    padding: .25rem;
    border-radius: .25rem;
}


button:active{
    background-color: #218db4;
    color: white;
}

.alert{
    margin:0 auto auto auto;
    background-color: #d3b1b0;
    color: #a94442;
    line-height:2rem;
    height:2rem;
}

/**
button:hover{
    cursor: pointer;
    background-color: #26a0cc;
}
*/

