<div class='container border border-dark rounded d-flex flex-wrap position-relative justify-content-between p-3 mx-auto my-2'>
    
    <div class='container'>
        <div class='row text-left'>
            <div class='col-6 p-0'>
                <div class='font-weight-bold'><h4 class='d-inline'>{{job.title}} &mdash;     {{job.company_name}}</h4></div>
                
            </div>
            <div class='col text-right'>
                <h6>{{job.city}}, {{job.state}}</h6>
                <div> Posted: {{job.start_date | date:'shortDate'}}</div> 
                 
            </div>
        </div>
        <div class='row'>
            
        </div>
    </div>
   

</div>