<nav class='navbar navbar-expand-md navbar-dark p-0' style='background-color: #002b5a; color: white'>
    <a class='nav-brand ms-1 text-decoration-none link-light' routerLink=''><img alt='UMW Logo' style='max-width: 6rem;' class='img-fluid my-1 mx-3'src='./assets/umwlogo.png'></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class='collapse navbar-collapse justify-content-center' style='margin-right: 8rem' id="collapsibleNavbar">
        <ul class='navbar-nav my-auto'>
            <li class='nav-item active'>
                <a class='nav-link p-3' routerLink='/submit-job'>Submit a Job</a>
            </li>
            <li class='nav-item active'>
                <a class='nav-link p-3' routerLink='/browse-jobs'>Browse Jobs</a>
            </li>
            <li class='nav-item active'>
                <a class='nav-link p-3' routerLink='/submit-company'>Submit a Company</a>
            </li>
            <li class='nav-item active'>
                <a class='nav-link p-3' routerLink='/browse-companies'>Browse Companies</a>
            </li>
            <li *ngIf='!(loginStatus$ | async) as loginStatus' class='nav-item active'>
                <a *ngIf='loginStatus' class='nav-link p-3' routerLink='/login'>Login</a>
            </li>
            <li *ngIf='!(loginStatus$ | async) as loginStatus' class='nav-item active'>
                <a *ngIf='loginStatus' class='nav-link p-3' routerLink='/create-account'>Create Account</a>
            </li>
            <li *ngIf='(loginStatus$ | async) as loginStatus' class='nav-item active'>
                <a *ngIf='loginStatus' class='nav-link p-3' routerLink='/admin'>Admin Portal</a>
            </li>
            <li *ngIf='(loginStatus$ | async) as loginStatus' class='nav-item active'>
                <a *ngIf='loginStatus' class='nav-link p-3' (click)='logout()'>Logout</a>
            </li>
        </ul>
    </div>
</nav>
