<div class='container p-5 ' style='border-left: 3px solid #910000;  border-right: 3px solid #910000;background-color: #FBFAF5; height: 100%;'>
    <h1 class='text-center mx-auto'><b>Admin Portal</b></h1>
    <div>
        <h3><b>Jobs</b></h3>
        <ul style='list-style: none;' class='p-0 bg-white'>
            <li *ngFor='let job of jobs'>
                <admin-job-preview [id]='job.id' [job]='job' (removeItemEvent)='removeJobItem($event)'></admin-job-preview>
            </li>
        </ul>
        <p *ngIf='jobs.length == 0'>There are no jobs waiting approval...</p>
    </div>

    <div class='mt-5'>
        <h3><b>Companies</b></h3>
        <ul style='list-style: none;' class='p-0 bg-white'>
            <li *ngFor='let company of companies'>
                <admin-company-profile [id]='company.id' [company]='company' (removeItemEvent)='removeCompanyItem($event)'></admin-company-profile>
            </li>
        </ul>
        <p *ngIf='companies.length == 0'>There are no companies waiting approval...</p>
    </div>
    
</div>