<div class='container text-center bg-white rounded mt-5 p-5'  id='center' style=' max-width: 40rem;'>
    <div class='my-4'><h1><b>Create Account</b></h1></div>
    <form [formGroup]='accountGroup'> <!--104B8B-->

        <div *ngIf='formSection == 1'>
            <select name='accountType' id='accountType' >
                <option value='' disable>Select Account Type</option>
                <option *ngFor='let account of accountTypes' [ngValue]='account'>{{account}}</option>
                
            </select>

            <div id='inputField' >
                <input id='email' name='email' type="text"  
                placeholder="Email" formControlName='email' [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf='submitted && f.email.errors'>
                    <div *ngIf='f.email.errors.required' class='alert p-0'> <p>Email is required</p> </div>
                    <div *ngIf="f.email.errors.email" class='alert p-0'>Email must be a valid email address</div>
                    <div *ngIf='unique === false' class='alert p-0'> Email is already registered</div>
                </div>
            </div>  
            <div id='inputField'>
                <input id='password' name='password' required type="password" 
                placeholder="Password" formControlName='password' [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf='submitted && f.password.errors'>
                    <div *ngIf='f.password.errors.required' class='alert p-0'> <p>Password is required</p> </div>
                    <div *ngIf='f.password.errors.minlength' class='alert p-0'> <p>Password must be 8 characters long</p> </div>     
                </div>
            </div>
            <div id='inputField'>
                <input id='password_confirm' name='confirm'  type="password" 
                placeholder="Confirm Password" formControlName='confirm' [ngClass]="{ 'is-invalid': submitted && f.confirm.errors }">
                <div *ngIf='submitted && f.confirm.errors'>
                    <div *ngIf='f.confirm.errors.required' class='alert p-0'> <p>Password Confirmation is required</p> </div>
                    <div *ngIf='f.confirm.errors.mustMatch' class='alert p-0'> <p>Passwords do no match</p> </div>     
                </div>            
            </div>
            <button  (click)='onSubmit()'>Submit</button>
        </div>

        <div>
            
        </div>
    </form>
</div>