<div class="container p-0">
    <div class="card">
        <div class="card-header text-center">
            <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <button class="nav-link active" data-toggle='tab' role='tab' 
                type='button' [attr.data-target]='"#about-student"+student.id' aria-selected="true">About</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-toggle='tab' role='tab' 
                type='button' [attr.data-target]='"#education-student"+student.id' aria-selected="false">Education</button>

            </li>
            <li class="nav-item">
                <button class="nav-link" data-toggle='tab' role='tab' 
                type='button' [attr.data-target]='"#contact-student"+student.id' aria-selected="false">Contact</button>
            </li>
            </ul>
        </div>

        <div class="card-body text-left">
            <div class='tab-content'>
                <div class='tab-pane active' role='tabpanel' [id]='"about-student"+student.id'>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo, arcu in mollis ornare,
                        tortor massa lacinia tortor, laoreet vehicula sem urna quis nibh. Mauris suscipit malesuada nisl, eget tristique nulla
                        consequat sed. Nulla id elit erat. Aenean quis lacus at urna tempor lobortis at at dolor. Etiam at finibus nisi. Proin
                        sodales id ligula vitae convallis. Aenean iaculis orci eu consequat fringilla. Mauris vitae rhoncus velit.
                    </p>
                </div>


                <div class='tab-pane' role='tabpanel'[id]='"education-student"+student.id'>
                    nothing
                </div>


                <div class='tab-pane' role='tabpanel' [id]='"contact-student"+student.id'>
                    <label><strong>Email Address: </strong></label>
                    <p>someone@mail.umw.edu</p>
        
                    <label><strong>Full Name: </strong></label>
                    <p>John Doe</p>
        
                    <label><strong>Phone Number: </strong></label>
                    <p>(123) 456 - 7890</p>
                </div>
            </div>
        </div>
    </div>
</div>